:root {
  --font-base: system-ui, sans-serif;
  --font-mono: ui-monospace, monospace;
}

html {
  box-sizing: border-box;
  font-family: var(--font-base);
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  border: 0;
}

*:focus-visible {
  outline: 2px solid #000000;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  line-height: 1.5;
  color: #333333;
  background-color: #f8fafc;
}

header,
footer {
  display: flex;
  align-items: center;
  padding: 1rem;
  background-color: #d9e8ff;
}

header {
  justify-content: space-between;
  border-bottom: 1px solid #cccccc;
}

footer {
  justify-content: center;
  border-top: 1px solid #cccccc;
}

main {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

input,
select,
button {
  color: #202020;
  border: 1px solid #cccccc;
  border-radius: 4px;
}

input,
select {
  background-color: #ffffff;
}

button {
  cursor: pointer;
  background-color: #d9e8ff;
}

a {
  color: inherit;
}

.header-left {
  display: flex;
  gap: 0.75rem;
  align-items: center;
}

.site-logo {
  width: 1.5rem;
  height: 1.5rem;
  background-color: #082c8f;
  border-radius: 4px;
}

.site-title {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.5rem;
  color: #082c8f;
}

.footnote {
  font-size: 0.75rem;
  color: #475fa5;
}

.main-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  max-width: 56rem;
}

.hline {
  width: 100%;
  margin: 0.5rem auto;
  border-bottom: 1px solid #cccccc;
}

.bit-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem 0.15rem;
  justify-content: center;
  width: fit-content;
  margin: 0 auto;
}

.bit-cell {
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-user-select: none;
  user-select: none;
}

.bit-idx {
  font-family: var(--font-mono);
  font-size: 0.5rem;
  color: #707070;
}

.bit-btn {
  --background-color: #e0e0e0;
  --background-color-highlighted: #bebebe;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.5rem;
  height: 1.5rem;
  font-family: var(--font-mono);
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.5rem;
  color: #000000;
  cursor: pointer;
  background-color: var(--background-color);
  border: none;
  border-radius: 3px;
}

.bit-btn:hover,
.bit-btn:focus-visible {
  background-color: var(--background-color-highlighted);
}

.bit-btn:hover {
  transform: translateY(-1px);
}

.bit-btn[data-part="sgn"] {
  --background-color: #b5d8fb;
  --background-color-highlighted: #8fc3f6;
}

.bit-btn[data-part="exp"] {
  --background-color: #b0f3b0;
  --background-color-highlighted: #80d682;
}

.bit-btn[data-part="man"] {
  --background-color: #ffc3c3;
  --background-color-highlighted: #fca1a2;
}

.field-container {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.field-group {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.125rem;
  align-items: start;
}

.field-label {
  font-size: 0.875rem;
  white-space: nowrap;
}

.field-control {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.field-input,
.field-button {
  height: 1.875rem;
  font-family: var(--font-mono);
  font-size: 1rem;
}

.field-input {
  --color: #202020;
  --color-invalid: #20202073;

  flex: 1;
  padding: 0.2rem 0.5rem;
  font-weight: 500;
  color: var(--color);
  letter-spacing: 0.05em;
}

.field-input:read-only {
  background-color: transparent;
}

.field-input:invalid,
.field-input.invalid {
  color: var(--color-invalid);
}

.field-input[data-radix] {
  text-transform: uppercase;
}

.field-input[data-part="sgn"] {
  --color: #005a9d;
  --color-invalid: #005a9d66;
}

.field-input[data-part="exp"] {
  --color: #006300;
  --color-invalid: #00630066;
}

.field-input[data-part="man"] {
  --color: #a01c34;
  --color-invalid: #a01c3466;
}

.field-button {
  aspect-ratio: 1 / 1;
  font-weight: 700;
}

.field-button:hover {
  filter: brightness(90%);
}

@media (min-width: 640px) {
  .field-group {
    grid-template-columns: min-content 1fr;
    gap: 0.5rem;
    align-items: center;
  }

  .field-label {
    width: 6rem;
    font-size: 1rem;
  }
}

.format-form {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  align-items: center;
}

.format-form label {
  font-size: 1rem;
  font-weight: 500;
}

.format-form select,
.format-form input,
.format-form button {
  height: 1.875rem;
  padding: 0.2rem 0.5rem;
}

.format-form button {
  flex: 1;
  min-width: 5rem;
  max-width: 9rem;
  font-weight: 500;
}

.format-form button:hover {
  filter: brightness(90%);
}

.format-custom {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
